@media screen and (max-width: 1200px) {
	.container {
		width: 968px;
	}
	.header-body {
		flex-direction: column;
		margin-top: 50px;
	}
	.header-info h1 {
		width: 100%;
	}
	.header-info h1 span {
		font-size: 37px;
	}
	.header-info p {
		width: 100%;
	}
	.header-info {
		text-align: center;
	}
	.header-btn {
		margin: 30px auto 0;
	}
	.header-logo {
		display: flex;
		justify-content: center;
	}
	body {
		overflow-x: hidden;
	}
}

@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.advantages {
		flex-direction: column;
	}
	.advantages-block {
		margin-bottom: 50px;
	}
	.advantages-block:last-child {
		margin-bottom: 0;
	}
	body {
		overflow-x: hidden;
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
	.header-body img {
		width: 520px;
	}
	.header-body {
		padding-bottom: 30px;
	}
	body {
		overflow-x: hidden;
	}
}

@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
	.header-info h1,
	.header-info h1 span {
		font-size: 26px;
	}
	.header-body img {
		width: 300px;
	}
	.form input,
	.form-btn {
		width: 280px;
	}
	.title h2 {
		font-size: 22px;
	}
	body {
		overflow-x: hidden;
	}
}