.header-logo {
	 animation: backInDown;
	 display: inline-block;
}

.header-info {
	animation: bounceInLeft;
	--animate-duration: 1.5s;
	animation-delay: 1s;
}

.header-right {
	animation: bounceInRight;
	animation-delay: 1s;
	--animate-duration: 1.5s;
}

.block-mid {
	animation-delay: 1s;
}

.input {
	animation-delay: 1s;
	--animate-duration: 1.5s;
}

.form-btn {
	animation-delay: 2.5s;
}

.footer-text {
	--animate-duration: 2s;
}

